---
import CategoryClient from "../CategoryClient.astro";
import { getClients } from "@/functions/data";
import type { CategoriesClient } from "@/types/Data"
const {categoriesClient} = await getClients();

// import { categoriesClient } from "@info";
---

<section class="bg-secondary pb-20">
  <div class="max-w-7xl md:max-w-5xl mx-auto px-5">
    {
      categoriesClient.map(({ title, clients } : CategoriesClient) => (
        <CategoryClient title={title} clients={clients} />
      ))
    }
  </div>
</section>