---
import { supabase } from "@/functions/supabase";
import CategoryClient from "@/components/CategoryClient.astro";
// import { getClients } from "@/functions/data";
import type { CategoriesClient } from "@/types/Data"
// const {categoriesClient} = await getClients();

import { categoriesClient } from "@info";
// const { data, error } = await supabase.from('clientes').select('*,categoria:categorias_clientes(nombre)');
// if(error) return console.log(error);

function groupByCategory(data) {
  const groupedData = {};

  categoriesClient.forEach(item => {
    // const category = item.categoria.nombre;
    const category = item.title;

    if (!groupedData[category]) {
      groupedData[category] = {
        title: category,
        clients: []
      };
    }

    item.clients.forEach(item => {

      groupedData[category].clients.push({
        id: item.id,
        name: item.name,
        // path: item.imagen
      });
    })
  });

  return Object.values(groupedData);
}

const categories = groupByCategory(categoriesClient);
// console.log(JSON.stringify(first, null, 2));
// console.log(first)
---

<section class="bg-secondary pb-20">
  <div class="max-w-7xl md:max-w-5xl mx-auto px-5">
    {
      categories.map(({ title, clients } : CategoriesClient) => (
        <CategoryClient title={title} clients={clients} />
      ))
    }
  </div>
</section>