---
import CategoryClient from "../CategoryClient.astro";

import { categoriesClient } from "@info";
---

<section class="bg-secondary pb-20">
  <div class="max-w-7xl md:max-w-5xl mx-auto px-5">
    {
      categoriesClient.map(({ title, clients }) => (
        <CategoryClient title={title} clients={clients} />
      ))
    }
  </div>
</section>