---
import Title from "@/components/Title.astro";
import SliderClient from "@/components/SliderClient.astro";
---

<section>
  <div
    class="max-w-7xl mx-auto px-5 pt-28 grid grid-cols-1 md:grid-cols-2 gap-10 items-center"
  >
    <figure class="relative">
      <img
        src="/images/post1.webp"
        alt="Servicios corporativos"
        class="w-10/12"
      />
      <figcaption
        class="absolute right-0 bottom-0 bg-zinc-800 py-10 px-14 text-white text-3xl font-bold max-w-[350px]"
      >
        Optimización y soporte para tu negocio
      </figcaption>
    </figure>

    <div class="pl-20">
      <Title
        title="Ayudamos a empresas a crecer"
        subtitle="Servicios corporativos"
        align="text-left"
      />
      <ul class="mt-7 font-bold text-2xl text-zinc-800">
        <li class="flex flex-col py-4 items-start border-b">
          <div class="flex items-center gap-x-5"><span class="text-zinc-400/80 font-light text-2xl">01.</span> Consultoría</div>
          <a
            href="#"
            class="bg-zinc-800 text-white font-bold text-sm py-5 px-10 inline-block mt-5 hover:bg-zinc-700 transition-colors duration-500"
          >
            Explora ahora
          </a>
        </li>
        <li class="flex flex-col py-4 items-start">
          <div class="flex items-center gap-x-5"><span class="text-zinc-400/80 font-light text-2xl">02.</span> Capacitación</div>
          <a
            href="#"
            class="bg-zinc-800 text-white font-bold text-sm py-5 px-10 inline-block mt-5 hover:bg-zinc-700 transition-colors duration-500"
          >
            Explora ahora
          </a>
        </li>
      </ul>
    </div>
  </div>
</section>
<SliderClient />
