---
import Title from "@/components/Title.astro";
import Arrow from "@/icons/Arrow.astro";
import Minus from "@/icons/Minus.astro";
import Plus from "@/icons/Plus.astro";
---

<section
  class="bg-primary py-16 md:py-28 md:min-h-screen md:h-screen"
  id="section-metodologia"
>
  <div class="px-5 md:hidden block">
    <Title title="" subtitle="" align="text-center">
      <span class="text-white">Servicios</span>
    </Title>
    <h3 class="text-white text-2xl font-bold mt-10">Consultoría</h3>
    <ul class="text-white text-left text-lg font-light">
      <li
        class="border-b border-white py-6 pl-5 text-balance relative flex gap-x-5 justify-start items-center w-full"
      >
        <img
          src="/images/iconos/comportamiento.svg"
          alt="Icono Comportamiento del cliente"
          class="w-8"
        />
        Comportamiento del cliente
      </li>
      <li
        class="border-b border-white py-6 pl-5 text-balance relative flex gap-x-5 justify-start items-center w-full"
      >
        <img
          src="/images/iconos/satisfaccion.svg"
          alt="Icono Satisfacción del cliente"
          class="w-8"
        />
        Satisfacción del cliente
      </li>
      <li
        class="border-b border-white py-6 pl-5 text-balance relative flex gap-x-5 justify-start items-center w-full"
      >
        <img
          src="/images/iconos/cultural.svg"
          alt="Icono Diagnóstico de cultura organizacional"
          class="w-8"
        />
        Diagnóstico de cultura organizacional
      </li>
      <li
        class="border-b border-white py-6 pl-5 text-balance relative flex gap-x-5 justify-start items-center w-full"
      >
        <img
          src="/images/iconos/diagnostico.svg"
          alt="Icono Diagnóstico de línea base"
          class="w-8"
        />
        Diagnóstico de línea base
      </li>
      <li
        class="border-b border-white py-6 pl-5 text-balance relative flex gap-x-5 justify-start items-center w-full"
      >
        <img
          src="/images/iconos/evaluacion.svg"
          alt="Icono Evaluación de impacto de proyectos y programas sociales"
          class="w-8"
        />
        Evaluación de impacto de proyectos y programas sociales
      </li>
      <li
        class="border-b border-white py-6 pl-5 text-balance relative flex gap-x-5 justify-start items-center w-full"
      >
        <img
          src="/images/iconos/habitos.svg"
          alt="Icono Cambio de comportamiento en la organización (hábitos)"
          class="w-8"
        />
        Cambio de comportamiento en la organización (hábitos)
      </li>
    </ul>
    <h3 class="text-white text-2xl font-bold mt-10">Formación</h3>
    <div
      class="border-b item-accordion border-white py-5 transition-all duration-500 text-white"
    >
      <button
        class="w-full py-2 pl-5 text-left focus:outline-none flex justify-between items-center relative"
      >
        <div class="flex gap-x-5">
          <img
            src="/images/iconos/talleres.svg"
            alt="Icono Talleres y conferencias"
            class="w-8"
          />
          <span class="text-lg font-light">Talleres y conferencias</span>
        </div>
        <Plus class="size-6 text-white icon-plus" />
        <Minus class="size-6 text-white icon-minus hidden" />
      </button>
      <div class="p-6 pl-10 info-client max-h-0 hidden-info">
        <ul class="text-base font-light">
          <li>Desarrollo de Habilidades Blandas</li>
          <li>Motivación e Integración</li>
          <li>Emprendimiento e Innovación</li>
          <li>Ventos y Servicio al Cliente</li>
        </ul>
      </div>
    </div>
    <div
      class="border-b item-accordion border-white py-5 transition-all duration-500 text-white"
    >
      <button
        class="w-full py-2 pl-5 text-left focus:outline-none flex justify-between items-center relative"
      >
        <div class="flex gap-x-5">
          <img
            src="/images/iconos/programa.svg"
            alt="Icono Programas"
            class="w-8"
          />
          <span class="text-lg font-light">Programas</span>
        </div>
        <Plus class="size-6 text-white icon-plus" />
        <Minus class="size-6 text-white icon-minus hidden" />
      </button>
      <div class="p-6 pl-10 info-client max-h-0 hidden-info">
        <ul class="text-base font-light">
          <li>Cambio de hábitos para una vida mejor</li>
          <li>Vida con Propósitos</li>
          <li>Soft Skills Training</li>
          <li>Habilidades Directivas</li>
          <li>Team Building</li>
        </ul>
      </div>
    </div>
    <div
      class="border-b item-accordion border-white py-5 transition-all duration-500 text-white"
    >
      <button
        class="w-full py-2 pl-5 text-left focus:outline-none flex justify-between items-center relative"
      >
        <div class="flex gap-x-5">
          <img
            src="/images/iconos/responsabilidad.svg"
            alt="Icono Programas de responsabilidad social y sostenibilidad"
            class="w-8"
          />
          <span class="text-lg font-light"
            >Programas de responsabilidad social y sostenibilidad</span
          >
        </div>
        <Plus class="size-6 text-white icon-plus" />
        <Minus class="size-6 text-white icon-minus hidden" />
      </button>
      <div class="p-6 pl-10 info-client max-h-0 hidden-info">
        <ul class="text-base font-light">
          <li>Fortalecimiento de Capacidades Técnicas</li>
          <li>Fortalecimiento de Habilidades Blandas</li>
          <li>Emprendimiento y Desarrollo</li>
          <li>Salud y Bienestar</li>
        </ul>
      </div>
    </div>
  </div>
  <div
    class="max-w-7xl h-full mx-auto px-5 md:flex items-center justify-center gap-x-20 hidden"
  >
    <div class="w-full hidden consultoria">
      <ul class="text-white text-right text-2xl font-bold">
        <li
          class="border-b border-white py-6 pr-14 text-balance relative flex justify-end items-center text-right w-full"
        >
          Comportamiento del cliente
          <img
            src="/images/iconos/comportamiento.svg"
            alt="Icono Comportamiento del cliente"
            class="absolute right-0 w-10"
          />
        </li>
        <li
          class="border-b border-white py-6 pr-14 text-balance relative flex justify-end items-center text-right w-full"
        >
          Satisfacción del cliente
          <img
            src="/images/iconos/satisfaccion.svg"
            alt="Icono Satisfacción del cliente"
            class="absolute right-0 w-10"
          />
        </li>
        <li
          class="border-b border-white py-6 pr-14 text-balance relative flex justify-end items-center text-right w-full"
        >
          Diagnóstico de cultura organizacional
          <img
            src="/images/iconos/cultural.svg"
            alt="Icono Diagnóstico de cultura organizacional"
            class="absolute right-0 w-10"
          />
        </li>
        <li
          class="border-b border-white py-6 pr-14 text-balance relative flex justify-end items-center text-right w-full"
        >
          Diagnóstico de línea base
          <img
            src="/images/iconos/diagnostico.svg"
            alt="Icono Diagnóstico de línea base"
            class="absolute right-0 w-10"
          />
        </li>
        <li
          class="border-b border-white py-6 pr-14 text-balance relative flex justify-end items-center text-right w-full"
        >
          Evaluación de impacto de proyectos y programas sociales
          <img
            src="/images/iconos/evaluacion.svg"
            alt="Icono Evaluación de impacto de proyectos y programas sociales"
            class="absolute right-0 w-10"
          />
        </li>
        <li
          class="border-b border-white py-6 pr-14 text-balance relative flex justify-end items-center text-right w-full"
        >
          Cambio de comportamiento en la organización (hábitos)
          <img
            src="/images/iconos/habitos.svg"
            alt="Icono Cambio de comportamiento en la organización (hábitos)"
            class="absolute right-0 w-10"
          />
        </li>
      </ul>
    </div>
    <div
      class="w-full flex flex-col items-center justify-center gap-y-7 selector"
    >
      <Title title="" subtitle="" align="text-center">
        <span class="text-white">Servicios</span>
      </Title>
      <div
        class="flex flex-col md:flex-row gap-y-10 md:gap-y-0 text-white w-full md:max-w-2xl"
      >
        <div
          class="w-full md:w-1/2 flex flex-col justify-center items-center"
          id="content-consultoria"
        >
          <div class="w-full flex-col justify-center items-center group">
            <img
              src="/images/consultoria.webp"
              alt="Persona ofreciendo el servicio de consultoría"
              class="w-44 group-hover:scale-105 transition-transform duration-300 mx-auto"
            />
            <button
              class="uppercase text-xl py-3 font-medium tracking-widest inline-flex justify-center items-center w-full gap-x-5 relative md:after:absolute md:after:w-0.5 md:after:bg-white md:after:right-0 md:after:top-3 md:after:h-[75%] md:after:content-[''] group-hover:bg-white group-hover:text-primary transition-colors duration-300 group border-white border-t-2 text-white"
              id="btn-consultoria"
            >
              <Arrow
                class="size-7 group-hover:text-primary transition-colors duration-300"
              />
              Consultoría
            </button>
          </div>
          <a
            href="/servicios/consultoria"
            class="bg-black py-5 mt-5 w-[80%] text-center text-lg font-semibold rounded-lg"
            >Clic para más información</a
          >
        </div>
        <div
          class="w-full md:w-1/2 flex flex-col justify-center items-center"
          id="content-formacion"
        >
          <div class="w-full flex-col justify-center items-center group">
            <img
              src="/images/formacion.webp"
              alt="Persona ofreciendo el servicio de formación"
              class="w-44 group-hover:scale-105 transition-transform duration-300 mx-auto"
            />
            <button
              class="uppercase text-xl py-3 inline-flex relative justify-center items-center gap-x-5 font-medium tracking-widest w-full group-hover:bg-white group-hover:text-primary transition-colors duration-300 group border-white border-t-2 text-white"
              id="btn-formacion"
            >
              Formación
              <Arrow
                class="size-7 group-hover:text-primary transition-colors duration-300 rotate-180"
              />
            </button>
          </div>
          <a
            href="/servicios/formacion/talleres"
            class="bg-black py-5 mt-5 w-[80%] text-center text-lg font-semibold rounded-lg"
            >Clic para más información</a
          >
        </div>
      </div>
    </div>
    <div class="w-full hidden formacion">
      <div
        class="border-b item-accordion border-white py-5 transition-all duration-500 text-white"
      >
        <button
          class="w-full py-3 pl-14 text-left focus:outline-none flex justify-between items-center relative"
        >
          <img
            src="/images/iconos/talleres.svg"
            alt="Icono Talleres y conferencias"
            class="absolute w-10 left-0"
          />
          <span class="text-2xl font-bold">Talleres y conferencias</span>
          <Plus class="size-6 text-white icon-plus" />
          <Minus class="size-6 text-white icon-minus hidden" />
        </button>
        <div class="p-6 pl-14 info-client max-h-0 hidden-info">
          <ul class="text-lg font-light">
            <li>Desarrollo de Habilidades Blandas</li>
            <li>Motivación e Integración</li>
            <li>Emprendimiento e Innovación</li>
            <li>Ventos y Servicio al Cliente</li>
          </ul>
        </div>
      </div>
      <div
        class="border-b item-accordion border-white py-5 transition-all duration-500 text-white"
      >
        <button
          class="w-full py-3 pl-14 text-left focus:outline-none flex justify-between items-center relative"
        >
          <img
            src="/images/iconos/programa.svg"
            alt="Icono Programas"
            class="absolute w-10 left-0"
          />
          <span class="text-2xl font-bold">Programas</span>
          <Plus class="size-6 text-white icon-plus" />
          <Minus class="size-6 text-white icon-minus hidden" />
        </button>
        <div class="p-6 pl-14 info-client max-h-0 hidden-info">
          <ul class="text-lg font-light">
            <li>Cambio de hábitos para una vida mejor</li>
            <li>Vida con Propósitos</li>
            <li>Soft Skills Training</li>
            <li>Habilidades Directivas</li>
            <li>Team Building</li>
          </ul>
        </div>
      </div>
      <div
        class="border-b item-accordion border-white py-5 transition-all duration-500 text-white"
      >
        <button
          class="w-full py-3 pl-14 text-left focus:outline-none flex justify-between items-center relative"
        >
          <img
            src="/images/iconos/responsabilidad.svg"
            alt="Icono Programas de responsabilidad social y sostenibilidad"
            class="absolute w-10 left-0"
          />
          <span class="text-2xl font-bold"
            >Programas de responsabilidad social y sostenibilidad</span
          >
          <Plus class="size-6 text-white icon-plus" />
          <Minus class="size-6 text-white icon-minus hidden" />
        </button>
        <div class="p-6 pl-14 info-client max-h-0 hidden-info">
          <ul class="text-lg font-light">
            <li>Fortalecimiento de Capacidades Técnicas</li>
            <li>Fortalecimiento de Habilidades Blandas</li>
            <li>Emprendimiento y Desarrollo</li>
            <li>Salud y Bienestar</li>
          </ul>
        </div>
      </div>
    </div>
  </div>
</section>

<script>
  const borderItems = document.querySelectorAll(".item-accordion");
  const btnFormacion = document.getElementById("btn-formacion");
  const btnConsultoria = document.getElementById("btn-consultoria");
  const contentConsultoria = document.getElementById("content-consultoria");
  const contentFormacion = document.getElementById("content-formacion");
  const section = document.getElementById("section-metodologia");
  const mensaje = document.getElementById("mensaje-metodologia");
  // const titulo = section.querySelector(".text-4xl");
  const consultoria = document.querySelector(".consultoria");
  const formacion = document.querySelector(".formacion");

  borderItems.forEach((item, index) => {
    const infoClient = item.querySelector(".info-client");
    const iconPlus = item.querySelector(".icon-plus");
    const iconMinus = item.querySelector(".icon-minus");

    const toggleVisibility = () => {
      // infoClient?.classList.toggle("hidden-info");
      // iconPlus?.classList.toggle("hidden");
      // iconMinus?.classList.toggle("hidden");

      // const containClass = infoClient.classList.contains("hidden-info");
      // const borderClass = containClass ? "border-white" : "border-white/60";
      // containClass
      //   ? item.classList.replace("border-white/60", borderClass)
      //   : item.classList.replace("border-white", borderClass);
      // const maxHeightClass = containClass ? "max-h-0" : "max-h-[1000px]";

      // infoClient.classList.replace("max-h-0", maxHeightClass);
      borderItems.forEach((otherItem, otherIndex) => {
        if (otherIndex !== index) {
          const otherInfoClient = otherItem.querySelector(".info-client");
          const otherIconPlus = otherItem.querySelector(".icon-plus");
          const otherIconMinus = otherItem.querySelector(".icon-minus");

          otherInfoClient?.classList.add("hidden-info");
          otherIconPlus?.classList.remove("hidden");
          otherIconMinus?.classList.add("hidden");
          otherItem.classList.replace("border-white/60", "border-white");
          otherInfoClient?.classList.replace("max-h-[1000px]", "max-h-0");
        }
      });

      infoClient?.classList.toggle("hidden-info");
      iconPlus?.classList.toggle("hidden");
      iconMinus?.classList.toggle("hidden");

      const containClass = infoClient.classList.contains("hidden-info");
      const borderClass = containClass ? "border-white" : "border-white/60";
      containClass
        ? item.classList.replace("border-white/60", borderClass)
        : item.classList.replace("border-white", borderClass);
      const maxHeightClass = containClass ? "max-h-0" : "max-h-[1000px]";

      infoClient.classList.replace("max-h-0", maxHeightClass);
    };

    if (index === 0) {
      infoClient.classList.remove("hidden-info");
      iconPlus.classList.add("hidden");
      iconMinus.classList.remove("hidden");
      item.classList.add("border-white/60");
      infoClient.classList.add("max-h-[1000px]");
    }

    item.addEventListener("click", toggleVisibility);
  });

  btnFormacion.addEventListener("click", () => {
    const divBotones = btnFormacion.parentNode;
    formacion.classList.toggle("hidden");
    consultoria.classList.add("hidden");
    section.classList.remove("h-screen");
    contentFormacion.classList.add("hidden");
    contentConsultoria.classList.remove("hidden");
    // titulo.classList.add("text-left");
    if (divBotones instanceof Element) {
      divBotones.classList.remove("border-t-2");
      divBotones.classList.remove("flex");
    }
    btnConsultoria.classList.add("bg-white");
    contentConsultoria.classList.add("w-full");
    contentConsultoria.classList.remove("w-1/2");
    btnConsultoria.classList.add("text-zinc-800");
    btnConsultoria.classList.remove("text-white");
    mensaje.classList.add("hidden");
  });

  btnConsultoria.addEventListener("click", () => {
    const divBotones = btnConsultoria.parentNode;
    consultoria.classList.toggle("hidden");
    formacion.classList.add("hidden");
    section.classList.remove("h-screen");
    contentConsultoria.classList.add("hidden");
    contentFormacion.classList.remove("hidden");
    // titulo.classList.add("text-right");
    if (divBotones instanceof Element) {
      divBotones.classList.remove("border-t-2");
      divBotones.classList.remove("flex");
    }
    btnFormacion.classList.add("bg-white");
    contentFormacion.classList.add("w-full");
    contentFormacion.classList.remove("w-1/2");
    btnFormacion.classList.add("text-zinc-800");
    btnFormacion.classList.remove("text-white");
    mensaje.classList.add("hidden");
  });
</script>

<style>
  section {
    background-image: url("/images/mapa.svg");
    background-size: cover;
    background-position: center;
    background-repeat: no-repeat;
  }
  .info-client {
    opacity: 0;
    animation: fade-in 1s forwards;
    transition: all 0.5s;
  }
  .info-client.hidden-info {
    animation: fade-out 0.3s forwards;
    transition: all 0.5s;
  }
  .formacion {
    animation: fade-in 1s forwards;
    transition: all 0.5s;
  }
  .consultoria {
    animation: fade-in 1s forwards;
    transition: all 0.5s;
  }
  .formacion.hidden {
    animation: fade-out 0.3s forwards;
    transition: all 0.5s;
  }
  .consultoria.hidden {
    animation: fade-out 0.3s forwards;
    transition: all 0.5s;
  }

  @keyframes fade-in {
    from {
      display: none;
      opacity: 0;
    }
    to {
      display: block;
      opacity: 1;
    }
  }

  @keyframes fade-out {
    from {
      display: block;
      opacity: 1;
    }
    to {
      display: none;
      opacity: 0;
    }
  }
</style>
