---
import Title from "@/components/Title.astro";
---

<section class="bg-secondary">
  <div class="max-w-7xl mx-auto px-10 md:px-5 py-20 md:py-28">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-5 content-end">
      <Title
        title="Inspirar a las personas,"
        subtitle="Nuestro propósito"
        align="text-left"
      >
        <span class="text-primary font-bold">transformar organizaciones</span>
      </Title>
      <div
        class="flex flex-col gap-y-5 justify-end font-light text-sm md:text-base text-zinc-500 tracking-wide"
      >
        <p class="text-justify">
          Somos una compañía enfocada en el desarrollo y bienestar de las
          personas, y a través de estas, en la mejora de las organizaciones.
        </p>
        <p class="text-justify">
          Estamos conscientes de que el cambio tiene una puerta que se abre
          desde adentro, impulsada por la decisión individual. Por ello,
          buscamos inspirar a las personas a generar transformación en ellas,
          con el fin de que sean capaces de acercarse a sus objetivos personales
          y profesionales.
        </p>
        <p class="text-justify">
          Nuestros procesos de consultoría y formación, ponen énfasis en los
          cambios de creencias y comportamientos, utilizando herramientas y
          metodologías innovadoras y de reconocido impacto a nivel global.
        </p>
      </div>
    </div>
  </div>
</section>
