---
import CardTeam from '@/components/CardTeam.astro'
---
<section class="pb-28">
    <div class="max-w-7xl mx-auto px-5 grid grid-cols-1 md:grid-cols-3 gap-7">
        <CardTeam
            title="Team Numero 1"
            subtitle="Lorem ipsum dolor sit amet"
            image="equipo/team1.webp"
            url="#"
        />
        <CardTeam
            title="Team Numero 1"
            subtitle="Lorem ipsum dolor sit amet"
            image="equipo/team1.webp"
            url="#"
        />
        <CardTeam
            title="Team Numero 1"
            subtitle="Lorem ipsum dolor sit amet"
            image="equipo/team1.webp"
            url="#"
        />
        <CardTeam
            title="Team Numero 1"
            subtitle="Lorem ipsum dolor sit amet"
            image="equipo/team1.webp"
            url="#"
        />
        <CardTeam
            title="Team Numero 1"
            subtitle="Lorem ipsum dolor sit amet"
            image="equipo/team1.webp"
            url="#"
        />
        <CardTeam
            title="Team Numero 1"
            subtitle="Lorem ipsum dolor sit amet"
            image="equipo/team1.webp"
            url="#"
        />
    </div>
</section>