---
import Title from "@/components/Title.astro";
import Layout from "@/layouts/Layout.astro";
---

<Layout title="Página no encontrada | Stratega Consultorìa & Capacitaciòn">
  <section class="py-20 px-5">
    <div class="max-w-5xl mx-auto flex flex-col">
      <Title
        title="Error 404"
        subtitle="Página no encontrada"
        align="text-left"
      />
      <div
        class="flex flex-col gap-y-5 px-5 justify-end font-light text-sm md:text-base text-zinc-600 tracking-wide mt-10"
      >
        <p class="text-justify">
          Lo sentimos, pero no pudimos encontrar lo que buscabas. Verifica que
          la dirección URL sea correcta.
        </p>
        <a
          class={`bg-primary hover:bg-primary/90 transition-colors duration-300 text-white tracking-wider px-5 py-2 rounded-md text-center w-max`}
          href="/">Ir al inicio</a
        >
      </div>
    </div>
  </section>
</Layout>
