---
const { key, title, total, velocity, icon } = Astro.props;
---

<article
  class={`flex flex-col gap-y-4 group py-5 pl-5 pr-10 contador ${key != 3 && "border-r-2"}`}
>
  <img src={`/images/iconos/${icon}.svg`} alt="" class="w-20 h-20 mx-auto" />
  <span
    class={`text-4xl md:text-[62px] inline-flex justify-center text-center font-bold text-primary contador_cantidad before:content-['+'] ${total == 16 ? "after:content-[',000']" : ""}`}
    data-cantidad-total={`${total}`}
      data-velocidad={`${velocity}`}
  >
    {0}
  </span>
  <h4 class="text-lg font-semibold text-center leading-tight">{title}</h4>
</article>
