---
import Whatsapp from '@/icons/Whatsapp.astro'
---

<a
  href="#"
  target="_blank"
  class="bg-[#25D366] rounded-full p-4 flex items-center justify-center text-white/90 fixed bottom-10 left-7 opacity-60 hover:opacity-100 transition-opacity duration-300 group z-10"
>
  <Whatsapp class="w-6" />
  <span
    class="bg-white px-3 py-2 rounded-full font-light text-sm text-zinc-800 absolute left-20 opacity-0 -translate-x-full group-hover:opacity-100 group-hover:translate-x-0 w-40 text-center shadow-lg transition-all duration-500"
  >
    Reserva una consulta
  </span>
</a>