---
const { clases } = Astro.props;
---
<form action="" class="space-y-6 w-full">
    <div class="relative">
      <input
        type="text"
        class="border-b border-zinc-400 w-full pl-7 pr-3 py-3"
        placeholder="Nombre"
      />
      <svg
        class="absolute left-0 top-1/2 -translate-y-1/2 w-6"
        viewBox="0 0 24 24"
        fill="none"
        ><g stroke-width="0"></g><g
          stroke-linecap="round"
          stroke-linejoin="round"></g><g>
          <path
            d="M17.5 21.0001H6.5C5.11929 21.0001 4 19.8808 4 18.5001C4 14.4194 10 14.5001 12 14.5001C14 14.5001 20 14.4194 20 18.5001C20 19.8808 18.8807 21.0001 17.5 21.0001Z"
            class="stroke-zinc-400"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
          <path
            d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"
            class="stroke-zinc-400"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </div>
    <div class="relative">
      <input
        type="text"
        class="border-b border-zinc-400 w-full pl-7 pr-3 py-3"
        placeholder="Teléfono"
      />
      <svg
        class="absolute left-0 top-1/2 -translate-y-1/2 w-6"
        viewBox="0 0 24 24"
        fill="none"
        ><g stroke-width="0"></g><g
          stroke-linecap="round"
          stroke-linejoin="round"></g><g>
          <path
            d="M15 3C16.5315 3.17014 17.9097 3.91107 19 5C20.0903 6.08893 20.8279 7.46869 21 9M14.5 6.5C15.2372 6.64382 15.9689 6.96892 16.5 7.5C17.0311 8.03108 17.3562 8.76284 17.5 9.5M8.20049 15.799C1.3025 8.90022 2.28338 5.74115 3.01055 4.72316C3.10396 4.55862 5.40647 1.11188 7.87459 3.13407C14.0008 8.17945 6.5 8 11.3894 12.6113C16.2788 17.2226 15.8214 9.99995 20.8659 16.1249C22.8882 18.594 19.4413 20.8964 19.2778 20.9888C18.2598 21.717 15.0995 22.6978 8.20049 15.799Z"
            class="stroke-zinc-400"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </div>
    <div class="relative">
      <input
        type="text"
        class="border-b border-zinc-400 w-full pl-7 pr-3 py-3"
        placeholder="Email"
      />
      <svg
        class="absolute left-0 top-1/2 -translate-y-1/2 w-6"
        viewBox="0 0 24 24"
        fill="none"
        ><g stroke-width="0"></g><g
          stroke-linecap="round"
          stroke-linejoin="round"></g><g>
          <path
            d="M19.7055 6.29452C18.2618 4.99044 15.8298 4.5 12 4.5C8.1702 4.5 5.73816 4.99044 4.29452 6.29452M19.7055 6.29452C21.0003 7.46413 21.5 9.28823 21.5 12C21.5 17.7353 19.2647 19.5 12 19.5C4.73529 19.5 2.5 17.7353 2.5 12C2.5 9.28823 2.99972 7.46413 4.29452 6.29452M19.7055 6.29452L13.4142 12.5858C12.6331 13.3668 11.3668 13.3668 10.5858 12.5858L4.29452 6.29452"
            class="stroke-zinc-400"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </div>
    <div class="relative">
      <textarea
        class="border-b border-zinc-400 w-full pl-7 pr-3 py-3"
        rows="4"
        placeholder="Mensaje"></textarea>
      <svg
        class="absolute left-0 top-3 w-6"
        viewBox="0 0 24 24"
        fill="none"
        ><g stroke-width="0"></g><g
          stroke-linecap="round"
          stroke-linejoin="round"></g><g>
          <path
            d="M12.4445 19.6875H20.9445M14.4443 5.68747L5.44587 14.6859C4.78722 15.3446 4.26719 16.1441 4.10888 17.062C3.94903 17.9888 3.89583 19.139 4.44432 19.6875C4.99281 20.236 6.14299 20.1828 7.0698 20.0229C7.98772 19.8646 8.78722 19.3446 9.44587 18.6859L18.4443 9.68747M14.4443 5.68747C14.4443 5.68747 17.4443 2.68747 19.4443 4.68747C21.4443 6.68747 18.4443 9.68747 18.4443 9.68747M14.4443 5.68747L18.4443 9.68747"
            class="stroke-zinc-400"
            stroke-width="1.5"
            stroke-linecap="round"
            stroke-linejoin="round"></path>
        </g></svg
      >
    </div>
    <div class="flex flex-col md:flex-row items-center gap-5">
      <button
        type="submit"
        class={`bg-primary text-white font-regular-juana tracking-wider ${clases} flex items-center`}
      >
        <svg class="w-5 inline-block" viewBox="0 0 24 24" fill="none"
          ><g stroke-width="0"></g><g
            stroke-linecap="round"
            stroke-linejoin="round"></g><g>
            <path
              d="M10 14L12.2728 19.3032C12.5856 20.0331 13.5586 20.1103 13.9486 19.4185C14.7183 18.0535 15.8591 15.8522 17 13C19 8 20 4 20 4M10 14L4.69678 11.7272C3.96687 11.4144 3.88975 10.4414 4.58149 10.0514C5.94647 9.28173 8.14784 8.14086 11 7C16 5 20 4 20 4M10 14L20 4"
              class="stroke-white"
              stroke-width="1.5"
              stroke-linecap="round"
              stroke-linejoin="round"></path>
          </g></svg
        >
         Enviar
      </button>
      <a
        href="https://wa.link/pcdh5q"
        target="_blank"
        class={`bg-[#66b75a] text-white font-regular-juana tracking-wider ${clases} flex items-center`}
      >
        <svg
          class="w-5"
          version="1.1"
          viewBox="0 0 418.135 418.135"
          fill="#000000"
          ><g stroke-width="0"></g><g
            stroke-linecap="round"
            stroke-linejoin="round"></g><g>
            <g>
              <path
                style="fill:#ffffff;"
                d="M198.929,0.242C88.5,5.5,1.356,97.466,1.691,208.02c0.102,33.672,8.231,65.454,22.571,93.536 L2.245,408.429c-1.191,5.781,4.023,10.843,9.766,9.483l104.723-24.811c26.905,13.402,57.125,21.143,89.108,21.631 c112.869,1.724,206.982-87.897,210.5-200.724C420.113,93.065,320.295-5.538,198.929,0.242z M323.886,322.197 c-30.669,30.669-71.446,47.559-114.818,47.559c-25.396,0-49.71-5.698-72.269-16.935l-14.584-7.265l-64.206,15.212l13.515-65.607 l-7.185-14.07c-11.711-22.935-17.649-47.736-17.649-73.713c0-43.373,16.89-84.149,47.559-114.819 c30.395-30.395,71.837-47.56,114.822-47.56C252.443,45,293.218,61.89,323.887,92.558c30.669,30.669,47.559,71.445,47.56,114.817 C371.446,250.361,354.281,291.803,323.886,322.197z"
              ></path>
              <path
                style="fill:#ffffff;"
                d="M309.712,252.351l-40.169-11.534c-5.281-1.516-10.968-0.018-14.816,3.903l-9.823,10.008 c-4.142,4.22-10.427,5.576-15.909,3.358c-19.002-7.69-58.974-43.23-69.182-61.007c-2.945-5.128-2.458-11.539,1.158-16.218 l8.576-11.095c3.36-4.347,4.069-10.185,1.847-15.21l-16.9-38.223c-4.048-9.155-15.747-11.82-23.39-5.356 c-11.211,9.482-24.513,23.891-26.13,39.854c-2.851,28.144,9.219,63.622,54.862,106.222c52.73,49.215,94.956,55.717,122.449,49.057 c15.594-3.777,28.056-18.919,35.921-31.317C323.568,266.34,319.334,255.114,309.712,252.351z"
              ></path>
            </g>
          </g></svg
        >
         Reserva una consulta
      </a>
    </div>
  </form>