---
import Logo from "@/icons/Logo.astro";
const menu = [
  {
    name: "Inicio",
    url: "/",
  },
  {
    name: "Servicios",
    url: "/servicios",
  },
  {
    name: "Nuestro equipo",
    url: "/equipo",
  },
  {
    name: "Clientes",
    url: "/clientes",
  },
  {
    name: "Experiencia",
    url: "/experiencia",
  },
  {
    name: "Contáctanos",
    url: "/contacto",
  },
];
const pathname = Astro.url.pathname;
---

<section class="relative">
  <div
    class="max-w-7xl mx-auto px-5 pb-5 pt-8 flex justify-between items-center"
  >
    <a href="/" class="w-48"
      ><Logo
        class={`w-48 ${pathname !== "/" ? "fill-primary" : "fill-white"} hover:scale-105 transition-all duration-500`}
      /></a
    >
    <nav>
      <ul class="flex gap-x-7">
        {
          menu.map((item) => (
            <li>
              <a
                href={item.url}
                class={`${pathname === item.url || pathname.includes(item.url + "/") ? "text-primary before:w-full" : pathname !== "/" ? "text-zinc-800 before:w-0" : "text-white"} py-2 hover:text-primary transition-colors duration-500 relative before:absolute before:bottom-0 before:left-0 before:h-0.5 before:bg-primary before:transition-all before:duration-500 before:hover:w-full`}
              >
                {item.name}
              </a>
            </li>
          ))
        }
      </ul>
    </nav>
  </div>
</section>
