---
import Logo from '@/icons/Logo.astro'
---
<section class="relative">
    <div class="max-w-7xl mx-auto px-5 pb-5 pt-8 flex justify-between items-center">
        <Logo class="w-48 fill-white" />
        <nav>
            <ul class="flex gap-x-7">
                <li>
                    <a href="#" class="text-white hover:text-primary transition-colors duration-500">Inicio</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-primary transition-colors duration-500">Servicios</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-primary transition-colors duration-500">Nuestro equipo</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-primary transition-colors duration-500">Experiencia</a>
                </li>
                <li>
                    <a href="#" class="text-white hover:text-primary transition-colors duration-500">Contáctanos</a>
                </li>
            </ul>
        </nav>
    </div>
</section>