---
import Mail from "@/icons/Mail.astro";
import Phone from "@/icons/Phone.astro";
import Building from "@/icons/Building.astro";
---

<div
  id="popup"
  class="popup flex items-center justify-center w-full h-full bg-black/30"
>
  <div
    class="bg-white absolute top-1/2 left-1/2 -translate-x-1/2 -translate-y-1/2 w-[75%]"
  >
    <div
      class="popup-content grid grid-cols-2 gap-5 justify-center items-center content-center justify-items-center"
    >
      <span class="close" onclick="closePopup()">
        <svg
          class="w-6 h-6 text-zinc-400 hover:rotate-180 transition-transform duration-300"
          viewBox="0 0 24 24"
          fill="none"
          xmlns="http://www.w3.org/2000/svg"
          ><path
            d="m21 21-9-9m0 0L3 3m9 9 9-9m-9 9-9 9"
            stroke="currentColor"
            stroke-width="2"
            stroke-linecap="round"
            stroke-linejoin="round"></path></svg
        >
      </span>
      <picture class="object-cover w-full">
        <source srcset="/images/popup.webp" type="image/webp" />
        <img src="/images/popup.avif" alt="Persona escribiendo en tablet" />
      </picture>
      <div class="py-10 pr-10 pl-5">
        <h2
          class="text-3xl md:text-5xl font-semibold text-balance tracking-tight"
        >
          Entérate de nuestras novedades
        </h2>
        <form class="space-y-6 w-full mt-10">
          <div class="relative">
            <input
              type="text"
              class={`border-b border-zinc-400 w-full pl-7 pr-3 py-3`}
              placeholder="Nombre y apellido"
            />
            <svg
              class="absolute left-0 top-1/2 -translate-y-1/2 w-6"
              viewBox="0 0 24 24"
              fill="none"
              ><g stroke-width="0"></g><g
                stroke-linecap="round"
                stroke-linejoin="round"></g><g>
                <path
                  d="M17.5 21.0001H6.5C5.11929 21.0001 4 19.8808 4 18.5001C4 14.4194 10 14.5001 12 14.5001C14 14.5001 20 14.4194 20 18.5001C20 19.8808 18.8807 21.0001 17.5 21.0001Z"
                  class="stroke-zinc-400"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
                <path
                  d="M12 11C14.2091 11 16 9.20914 16 7C16 4.79086 14.2091 3 12 3C9.79086 3 8 4.79086 8 7C8 9.20914 9.79086 11 12 11Z"
                  class="stroke-zinc-400"
                  stroke-width="1.5"
                  stroke-linecap="round"
                  stroke-linejoin="round"></path>
              </g></svg
            >
          </div>
          <div class="relative">
            <input
              type="text"
              class={`border-b border-zinc-400 w-full pl-7 pr-3 py-3`}
              placeholder="Teléfono / Celular"
            />
            <Phone
              class="absolute left-0 top-1/2 -translate-y-1/2 w-5 text-zinc-500"
            />
          </div>
          <div class="relative">
            <input
              type="text"
              class={`border-b border-zinc-400 w-full pl-7 pr-3 py-3`}
              placeholder="Email"
            />
            <Mail
              class="absolute left-0 top-1/2 -translate-y-1/2 w-5 text-zinc-400"
            />
          </div>
          <div class="relative">
            <input
              type="text"
              class={`border-b border-zinc-400 w-full pl-7 pr-3 py-3`}
              placeholder="Empresa"
            />
            <Building
              class="absolute left-0 top-1/2 -translate-y-1/2 w-5 text-zinc-400"
            />
          </div>
          <div class="flex flex-col md:flex-row items-center gap-5">
            <button
              type="submit"
              class={`bg-primary hover:bg-primary/90 transition-colors duration-300 text-white text-lg font-semibold px-5 py-4 block w-full`}
            >
              Suscríbete
            </button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>

<script is:inline>
  var popupShown = false;

  window.onscroll = function () {
    if (
      !popupShown &&
      (document.body.scrollTop > 100 ||
        document.documentElement.scrollTop > 100)
    ) {
      document.getElementById("popup").style.display = "initial";
      popupShown = true;
    }
  };

  function closePopup() {
    document.getElementById("popup").style.display = "none";
  }
</script>

<style>
  .popup {
    display: none;
    top: 0;
    position: fixed;
    z-index: 9999;
    animation: fadeIn 0.5s ease-in-out;
  }

  .popup-content {
    position: relative;
  }

  .close {
    position: absolute;
    top: 0;
    right: 0;
    cursor: pointer;
    padding: 10px;
    z-index: 9999;
  }

  .content {
    height: 2000px; /* Para que haya suficiente espacio para hacer scroll */
  }

  @keyframes fadeIn {
    from {
      opacity: 0;
    }
    to {
      opacity: 1;
    }
  }
</style>
