---
import { categoriesClient } from "@info";
const random = Math.floor(Math.random() * categoriesClient.length);
const { clients } = categoriesClient[random];
---

<section class="py-16">
  <div class="swiper swiper-cliente">
    <div class="swiper-wrapper">
      {
        clients.map((slide) => (
          <div class="swiper-slide">
            <picture class="h-32 flex items-center justify-center">
              <img
                src={`/images/clientes/${slide.id}.webp`}
                alt={`${slide.name}`}
                class="object-cover grayscale max-h-16"
              />
            </picture>
          </div>
        ))
      }
    </div>
  </div>
</section>

<style>
  .swiper-slide {
    overflow: hidden;
  }
</style>

<script>
  import Swiper from "swiper";
  import "swiper/css";
  import { Autoplay } from "swiper/modules";

  new Swiper(".swiper-cliente", {
    modules: [Autoplay],
    loop: true,
    autoplay: {
      delay: 7000,
    },
    slidesPerView: 5,
  });
</script>
