---
import Navbar from '@/components/Navbar.astro';
import TopNavbar from '@/components/TopNavbar.astro';
import '@fontsource-variable/dm-sans';

interface Props {
	title: string;
}

const { title } = Astro.props;
---

<!doctype html>
<html lang="es">
	<head>
		<meta charset="UTF-8" />
		<meta name="description" content="STRATEGA es una compañía líder en el sur del Perú en consultoría, inversiones y capacitación, integrada por profesionales con formación académica de primer nivel y experiencia gerencial en organizaciones del sector público y privado." />
		<meta name="viewport" content="width=device-width" />
		<link rel="canonical" href="https://www.strategaperu.com" />
		<link rel="icon" type="image/svg+xml" href="/favicon.svg" />
		<title>{title}</title>
	</head>
	<body>
		<header class="absolute z-10 top-0 left-0 w-full">
			<TopNavbar />
			<Navbar />
		</header>
		<slot />
	</body>
</html>

<style is:global>
	body{
		font-family: 'DM Sans Variable', sans-serif;
	}
</style>